.HomeContainer{
    width: 100%;
    height: 100vh;
}

.title{
    color: beige;
    font-size: 90px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    overflow-wrap: break-word;
}

.HomeHeader{
    width: 100%;
    height: 700px;
    padding: 0 100px 0 100px;
    background-image: url("../../assets/ats.png");
    background-size: cover;
}

.headerDividido{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 50px;
    overflow-wrap: break-word;
}

.parra{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    color: beige;
}

.dejaLaTec{
    display: grid;
    place-content: center;
}

.HomeHeader2{
    width: 100%;
    height: 700px;
    padding: 0 100px 0 100px;
    
}

.titleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    /* background-color: chartreuse; */
}

.titleContainer2{
    width: 600px;
    /* background-color: pink; */
    text-align: center;
    margin: 50px;
}

.title2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
    font-size: 60px;
}

.cajaDividida2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.caja{
    /* background-color: blueviolet; */
    width: 90%;
    height: 350px;
    display: grid;
    place-items: center;
}

.caja img{
    width: 400px;
    height: 200px;
}

.title3{
    color: blue;
}

.parra2{
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    text-align: center;
}

@media screen and (max-width:1024px){
    .headerDividido{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 2rem;
        padding-top: 50px;
        overflow-wrap: break-word;
    }

    .title{
        color: beige;
        font-size: 90px;
        font-family: 'Courier New', Courier, monospace;
    }

    .cajaDividida2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        row-gap: 2rem;
    }

    .HomeHeader2{
        padding: 0;   
    }
}

@media screen and (max-width:768px){
    .title{
        text-align: center;
    }

    .cajaDividida2{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        row-gap: 2rem;
    }

    .HomeHeader{
        padding: 0 1rem 0 1rem;
    }

    .HomeHeader2{
        padding: 0;   
    }
}

@media screen and (max-width:560px){
    .title{
        font-size: 60px;
        max-width: 275px;
    }
}

@media screen and (max-width:280px){
    .HomeHeader{
        padding: 0 0.3rem 0 0.3rem;
    }
}
