/* .navContainer{
    display: flex;
    justify-content: center;
    background-color: blueviolet;
}


ul{
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}

a{
    text-decoration: none;
    color: beige;
    font-weight: bold;
    font-size: 18px;
}

li :hover{
    color: aqua;
} */

/* section {
    color: #fff;
    text-shadow: 3px 3px rgba(50,50,70,0.5);
    background-color: #ffb6b9b0;
    height: 100vh;  
} */
.navBg {
    background-color: rgb(93, 93, 223);
}